@use '../../utils' as*;



.bev-main-menu {
    & ul {
        & li {
            display: inline-block;
            position: relative;
            margin-left: 30px;

            & a {
                display: inline-block;
                padding: 43px 0;
                color: #fff;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .35em;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }
}

.bev-transparent-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.logo {
    & img {
        width: 200px;
    }
}

.tp-slider-item {
    &__content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;

        & span {
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
        }
    }

    &__title {
        font-size: 127px;
        letter-spacing: 35px;
        color: #fff;
    }
    &__subtitle{
        color: var(--bev-primary);
    }
}

.sub-title-sec {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}